/** @author Alex Thompson - W19007452 for the admin component(s) */

/* Admin.js */

.admin-heading, admin-subheading {
  text-align: start;
}

.admin-container {
  width: 80%;
  margin: 20px auto auto auto;
}

#admin-header {
  margin: 0;
}


/* ./table directory */
/* TableHead.js */

.admin-table-head {
  height: 52px;
  background-color: #E5ECFF;
  border: 1px solid #E4E4E4;
}

.admin-table-options-subheading {
  text-align: start;
  width: fit-content;
  font-weight: bold;
}

.admin-table-options-para {
  margin-right: 20px;
}

.admin-table-options {
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.admin-table-search-container {
  margin-left: 20px;
}

.account-management-title {
  text-align: start;
  margin-bottom: 7.5px;
  color: #004888;
}

.account-management-title-line {
  background-color: #004888;
  padding: 2px;
  margin-bottom: 35px;
  width: 60px;
  border-radius: 5px;
}

.users-table-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.users-table-options > * {
  margin: 0 0 35px 0;
}

.users-table-options-buttons > button:hover {
  cursor: pointer;
}

.users-table-options-buttons > input::placeholder {
  color: #CACACA;
  opacity: 1;
}

.users-table-options-buttons > * {
  margin-left: 5px;
  padding: 2.5px 7.5px;
  border-radius: 5px;
  border: 1.5px solid #E0E0E0;
  background-color: #FFFFFF;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-name {
  width: 100px;
  padding-left: 5px;
  text-align: left !important;
}

tr {
  border: 1px solid #E4E4E4;
}

th {
  height: 52px;
  background-color: #E5ECFF;
  vertical-align: middle !important;
}

tbody tr {
  height: 72px;
  border: 1px solid #E4E4E4;
}

tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

tbody tr td {
  vertical-align: middle !important;
}

.table-body-name {
  width: 100px;
  padding-left: 5px;
  text-align: left !important;
}

.users-table-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.users-table-footer p {
  color: #656565;
}

.users-table-footer > * {
  margin: 15px 0;
}

.results-buttons > button {
  border: #EFEFEF;
  border-radius: 100%;
  margin-left: 5px;
  height: 25px;
  width: 25px;
}

.results-buttons > button:hover {
  cursor: pointer;
}

.active-button {
  background-color: #DADADA;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#overlay div {
  background-color: #FFFFFF;
  width: 80%;
  margin: 75px auto 20px auto;
  padding: 0 0 20px 0;
  cursor: default;
}

.clickable:hover {
  cursor: pointer;
}

.modal-admin {
  display: flex;
  
}

.modal-title {
  margin-left: 10px;
  color: #004888;
}

.page-button {
  width: 10%;
  outline: none;
  border: none;
}

.checkbox-admin {
  margin-left: 10px;
}

#notification {
  position: fixed;
  top: 52px;
  right: 10px;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 100 !important;
}

#notification.hide {
  transition: opacity 0.5s;
  opacity: 0
}

#add-button {
  outline: #004888;
  border: 1px solid #00549F;
  color: #00549F;
  font-weight: bold;
  border-radius: 8px;
}

#add-button:hover {
  background-color: #004888;
  color: #FFFFFF;
}

.remove-button {
  outline: #9F1B1F;
  border: 1px solid #9F1B1F !important;
  background-color: #9F1B1F !important;
  font-weight: bold;
  border-radius: 8px;
}

#admin-search {
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-content {
  padding: 0;
}

.dropdown-item {
  padding: 0;
}

.admin-option-button {
  justify-content: left;
  width: 100%;
}

.admin-modal-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px 10px;
}

.admin-modal-label {
  text-align: start;
  color: #1A1A1A;
  font-weight: bold;
  margin-bottom: 5px;
}

.admin-modal-input {
  width: 100%;
  border-radius: 4px;
}

.admin-modal-select {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 7px 11px;
  height: 40px;
  cursor: pointer;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.admin-modal-option {
  color: black;
}

.admin-modal-hr {
  margin: 10px 10px 20px 10px;
}

.admin-modal-button-container {
  display: flex;
  gap: 10px;
}

.admin-modal-submit-button {
  background-color: #00549F !important;
  border-radius: 8px;
  color: #FFFFFF;
  flex-grow: 6;
}

.admin-modal-submit-button-red {
  background-color: #9F1B1F !important;
  border-radius: 8px;
  color: #FFFFFF;
  flex-grow: 6;
}

.admin-modal-cancel-button {
  border: 1px solid #00549F;
  color: #00549F;
  border-radius: 8px;
  flex-grow: 2;
}

.admin-options-button-container {
  display: flex;
  gap: 10px;
}

.admin-modal-submit-button:hover {
  color: #FFFFFF;
}

.admin-modal-submit-button-red:hover {
  color: #FFFFFF;
}

.admin-modal-cancel-button:hover {
  border: 1px solid #00549F;
  color: #00549F;
}

.admin-modal-column {
  padding-left: 10px;
}

.mobile-remove-user {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin: 20px auto;
  background-color: #E4E4E4;
  border-radius: 8px;
}

.mobile-remove-user-div {
  text-align: start;
  margin-top: 10px;
  margin-left: 20px;
}

.mobile-remove-user-div-p {
  color: #004888;
  font-weight: bold;
}

.mobile-row-container {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
}

.mobile-row-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  margin: 20px auto;
}

.mobile-row-subcontainer-span {
  margin-left: 10px;
  font-weight: bold;
}

.mobile-row-subcontainer-div {
  text-align: start;
  margin-top: 10px;
}

.mobile-row-subcontainer-div-p {
  color: #004888;
  font-weight: bold;
}

.mobile-row-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mobile-row-buttons {
  width: 90%;
  margin: 5px auto;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .users-table-options {
    flex-direction: column;
    align-items: start;
  }

  .admin-table-options {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .admin-table-search-container {
    order: 1;
    margin-left: 0;
    width: 100%;
  }

  .admin-options-button-container {
    order: 2;
    width: 100%;
  }

  .admin-options-button-container button {
    width: 100%;
  }

  .checkbox-admin {
    margin: 0;
  }

  .modal-content {
    width: 90%;
    margin: auto;
  }

  .pagination-next {
    order: 1;
  }
}
