/** @author Alex Thompson - W19007452 for the admin component(s) */

.account-management-title {
  text-align: start;
  margin-bottom: 7.5px;
}

.account-management-title-line {
  background-color: #000000;
  padding: 2px;
  margin-bottom: 35px;
  width: 60px;
  border-radius: 5px;
}

.users-table-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.users-table-options > * {
  margin: 0 0 35px 0;
}

.users-table-options-buttons > button:hover {
  cursor: pointer;
}

.users-table-options-buttons > input::placeholder {
  color: #CACACA;
  opacity: 1;
}

.users-table-options-buttons > * {
  margin-left: 5px;
  padding: 2.5px 7.5px;
  border-radius: 5px;
  border: 1.5px solid #E0E0E0;
  background-color: #FFFFFF;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-name {
  width: 100px;
  padding-left: 5px;
  text-align: left !important;
}

th {
  vertical-align: middle !important;
}

tbody tr {
  height: 72px;
  border: 1px solid #E4E4E4;
}

tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

tbody tr td {
  vertical-align: middle !important;
}

.table-body-name {
  width: 100px;
  padding-left: 5px;
  text-align: left !important;
}

.users-table-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.users-table-footer > * {
  margin: 15px 0;
}

.results-buttons > button {
  border: #EFEFEF;
  border-radius: 100%;
  margin-left: 5px;
  height: 25px;
  width: 25px;
}

.results-buttons > button:hover {
  cursor: pointer;
}

.active-button {
  background-color: #DADADA;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#overlay div {
  background-color: #FFFFFF;
  width: 80%;
  margin: 75px auto 20px auto;
  padding: 0 0 20px 0;
  cursor: default;
}

.clickable:hover {
  cursor: pointer;
}

.input-admin {
  width: 50%;
}

.modal-admin {
  display: flex;
  justify-content: center;
}

.modal-title {
  margin: auto;
}

.page-button {
  width: 10%;
  outline: none;
  border: none;
}

.checkbox-admin {
  margin-left: 10px;
}

#notification {
  position: fixed;
  top: 52px;
  right: 10px;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 100 !important;
}

#notification.hide {
  transition: opacity 0.5s;
  opacity: 0
}

